<div class="w3-row" style="max-width: 1024px; margin: auto;">
<div class="w3-col m4" style="min-width = 250px;">
    <% if user_signed_in? %>
      <%= render 'userprofilecard'%>
    <% end %>
</div>

<div class="w3-col m7" style="min-width = 500px;">

    <% if @user == current_user %>
      <%= render 'newuserpost'%>
    <% end %>

    <%= render 'userpostfeed' %>
</div>

</div>
